<h1>Editing policeman</h1>

<%= render "form", policeman: @policeman %>

<br>

<div>
  <%= link_to "Show this policeman", @policeman, class: "btn btn-info" %>
  <%= link_to "Back to policemen", policemen_path, class: "btn btn-primary" %>
</div>
