<div class="row mt-2">
  <div class="col-auto">

  </div>
  <div class="col-auto">
    <%= link_to I18n.t(:back), home_last_month_path, class: "btn btn-primary btn-sm mt-1" %>
  </div>
</div>

<hr>

<div class="mt-3">
  <%= render "occurrence" %>
</div>