<div class="row mt-2">
  <div class="col-auto">
    <h3> <%= @policeman.position %> <%= @policeman.name %></h3>
  </div>
  <div class="col-auto">
    <%= link_to "Back to policemen", home_path, class: "btn btn-primary btn-sm mt-1" %>
  </div>
</div>

<hr>

<div class="mt-3">
  <%= render "occurrence" %>
</div>